p{
    color: darkcyan;
}
/*vai afetar dos os <p>*/
p.contato{
    color:blueviolet;
}
/* vai afetar apenas as class que são <p>*/
.contato{
    font-family:monospace;
}
/*vai afetar todos da classe, seja <p>, <h1>, etc */